[submodule "vendor/plugins/localized_dates"]
	path = vendor/plugins/localized_dates
	url = git://github.com/clemens/localized_dates.git
[submodule "vendor/plugins/i18n_label"]
	path = vendor/plugins/i18n_label
	url = git://github.com/iain/i18n_label.git
[submodule "vendor/plugins/searchgasm"]
	path = vendor/plugins/searchgasm
	url = git://github.com/binarylogic/searchgasm.git
[submodule "vendor/plugins/cute_admin"]
	path = vendor/plugins/cute_admin
	url = git://github.com/jana4u/cute_admin.git
